html,body{
            padding: 0;
            margin: 0;
        }
        button {
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;
            background: transparent;
            color: inherit;
            font: inherit;
            line-height: normal;
            cursor: pointer
        }
        ul,li{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        input{
            border: none;
            outline: none;
            background: transparent;
        }
        #container{
            display: flex;
            justify-content: center;
        }
        #msgContainer{
            height: 200px;
            width: 100px;
            display: flex;
            justify-content: end;
            flex-direction: column;
            position: absolute;
            top: -180px;
            left: 68px;
        }
        .msg{
            color: cadetblue;
            position: absolute;
            opacity: 0;
            font-size: 20px;
            transform: translateY(0);
            transition: none
        }
        .msg.mid{
            opacity: 1;
            transform: translateY(-80px);
             transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .msg.fin{
            opacity: 0;
            transform: translateY(-160px);
             transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .stickBox{
            display: flex;
            align-items: center;
            position: absolute;
            left: -20px;
            top: -42px;
            transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .stickBox.animate{
            transform: translateY(30px);
        }
        #stickBody{
            width: 110px;
            height: 5px;
            border-radius: 10px 0 0 10px;
            background-color: rgb(233, 185, 126);
        }
        #stickHead{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgb(233, 185, 126);
        }
        #woodFish{
            height: 250px;
            width: 200px;
            background-color: white;
            border-radius: 50%;
            margin-top: 200px;
            position: relative;
        }
        .decoration{
            visibility: hidden;
            height: 35px;
            width: 35px;
            background-color: rgb(233, 185, 126);
            border-radius: 50%;
            position: absolute;
            bottom: 25px;
            right: 45px;
        }
        .woodFishIcon{
            position: absolute;
            top: -30px;
        }
        .btnContainer{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 25px;
            left: 25%;
        }
        .knockBtn{
            padding: 8px 20px;
            background-color: cadetblue;
            color: azure;
            border-radius: 20px;
        }
        .knockBtn:active{
            filter: brightness(80%);
        }
        .tipContainer{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            color: rgb(127, 105, 78);
            position: absolute;
            bottom: 0;
            left: 25%;
        }
        .tooFast{
            opacity: 0;
            transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .tooFast.show{
            opacity: 1;
            transition: none;
        }


        .colomnAside{
            width: 200px;
            height: 300px;
            background-color: rgb(227, 231, 226);
            margin: 150px 0 0 100px;
            border-radius: 20px;
        }
        .colomnContent{
            height: 240px;
            overflow-y: auto;
        }
        .colomnContent::-webkit-scrollbar {
            width: 3px;
        }
        .colomnContent::-webkit-scrollbar-thumb {
            background: rgba(105, 164, 166, 0.3);
        }
        .colomnHeader{
            height: 40px;
            background-color: cadetblue;
            color: rgb(245, 245, 245);
            border-radius: 20px 20px 0 0;
            display: flex;
            align-items: center;
        }
        #myFishTitle{
            font-size: 18px;
            margin: 0 15px;
        }
        #createNewFish{
            font-size: 15px;
            margin-left: 35px;
            color: rgb(232, 232, 232);
            cursor: pointer;
        }
        #createNewFish:hover{
            color: white;
        }
        #myFishList{
            padding: 0;
            margin: 0;
        }
        .myFish{
            height: 21px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            font-size: 15px;
            color: rgb(105, 164, 166);
            cursor: pointer;
        }
        .myFish:hover{
            background-color: rgb(207, 222, 225);
        }
        .myFish.chosen{
            background-color: rgb(207, 222, 225);
            cursor: default;
        }
        .fishColor{
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #eed0a8;
            border: 1.8px solid rgb(255, 255, 255);
        }
        .fishNameContainer{
            display: flex;
            align-items: center;
        }
        .fishName{
            margin-left: 10px;
        }
        .rubbishBin{
            width: 25px;
            height: 25px;
            margin-top: 5px;
            cursor: pointer;
        }
        .rubbishBin:hover{
            filter: brightness(85%);
        }
        .modal{
            width: 300px;
            display: none;
            position: fixed;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            color: rgb(154, 170, 132);
            border: 2px solid rgb(154, 170, 132);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .modalHeader{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: center;
        }
        #newFishName{
            width: 140px;
            height: 25px;
            padding: 0 5px;
            margin-left: 5px;
            background-color: aliceblue;
            border-radius: 5px;
            font-size: 15px;
        }
        #colorChoices{
            width: 280px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
        }
        .colorChoice{
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .newFishColor{
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
         .newFishColor.chosen{
            box-shadow: inset 0 0 0 2px  rgb(243, 243, 243);
            cursor: default;
        }
        .modalBtnContainer{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 60px;
        }
        .modalBtn{
            padding: 8px 20px;
            background-color: rgb(154, 170, 132);
            color: rgb(252, 255, 240);
            border-radius: 20px;
            cursor: pointer;
        }